* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    align-items: center;
}
.hpl h1 {
    color: darkblue;
    font-size: 32px;
    margin-bottom: 20px;
}
.hpl p {
    color: lightgray;
    font-size: 18px;
    padding: 15px;
}
.hpl ul {
    list-style-type: square;
    margin: 20px;
    padding: 10px;
}
.hpl li {
    list-style-type: none;
    font-size: 30px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
    color: white;
}
.logo img {
    height: 70px;
}
.buttons a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 40px;
}
.buttons a:hover {
    color: rgb(71, 196, 231);
    background-color: rgb(277, 233, 233);
    border: 2px solid rgb(96, 236, 236);
    border-radius: 5px;
    padding: 15px;
}
.colors .rgb {
    color: rgb(255, 0, 0);
}
.colors .hex {
    color: #ff0000;
}
.colors .hsl {
    color: hsl(0, 100%, 50%);
}
.colors .rgba {
    color: rgba(255, 0, 0, 0.5);
}
.colors .hsla {
    color: hsla(0, 100%, 50%, 0.5);
}
.fonts h1 {
    font-size: 50px;
}
.fonts h2 {
    font-size: 20pt;
}
.fonts p:first-of-type {
    font-size: 1cm;
}
.fonts p:last-of-type {
    font-size: 10mm;
}
